CAMERA_N=2
CAMERA1_URI="rtsp://192.168.0.1/stream1"
CAMERA1_USER="user1"
CAMERA1_PWD="password1"
CAMERA2_URI="rtsp://192.168.0.2/stream1"
CAMERA2_USER="" # NOSECURITY
CAMERA2_PWD=""

DISCORD_WEBHOOK="https://discord.com/api/webhooks/00000/AAAAA"
